
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sidebar{
  height: 100vh;
  overflow: auto;
  background: linear-gradient(55deg, #010107, #08054bee);
  list-style-type: none;
  padding: 20px;
}
.sidebar li{
  padding: 8px;
  background-color: #ffffff0e;
  margin-bottom: 10px;
  border-radius: 5px;
  cursor: pointer;
}
.sidebar li a{
  text-decoration: none;
  font-size: 1rem;
  color: #fff;
}
.sidebar li:hover{
  background-color: #2e2e4d;
}
.sidebar li:hover a{
  color: #010107;
}
.active{
  background-color: #fff !important;
}
.active a{
  color: #010107 !important;
}


.main{
  height: 100vh;
  overflow: auto;
}